@model YandexDzen.Models.User 
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="create" asp-controller="home">
    <div class="form-group">
        <input type="email" placeholder="Email" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" placeholder="Login" asp-for="Login" class="form-control" />
    </div>
    <div class="form-group">
        <input type="password" placeholder="******" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit"  value="Добавить" class="btn btn-default" />
    </div>
</form>
